
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
  list-style-type: none;
}
.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 4fr;
  width: 100vw;
  height:100vh;
}
.sidebar{
  grid-row: 1/-1;
  background-color: #008F11;
  padding: 20px;
}
.sidebar li{
  margin-bottom: 15px;
}
#dashboard-sidebar-logo a{
  margin-bottom: 50px;
}
a{
  font-size: 1.1em;
  color:white;
  text-decoration: none;
  display:flex;
}
a p{
  margin-left: 5px;
}
.search{
  margin-top: 25px;
  display: flex;
}
.search input{
  margin-left: 10px;
  border: none;
  background-color: rgba(87, 87, 87, 0.1);
  border-radius: 25px;
  height:25px;
  width: 200%;
}
.pfp-image{
  border-radius: 50%;
}
.pfp{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 200px;
}
.pfp > *{
  margin-left:19px;
}
.header{
  display: grid;
  grid-area: 1/2/2/-1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
}
.welcome{
  display: flex;
  align-items: center;
}
.welcome-text{
  font-size: large;
  margin-left: 20px;
} 
.btns{
  margin-top: 50px;
  margin-left: 160px;
}
.btns button{
  background-color: #008F11;
  color:white;
  width:90px;
  height:40px;
  border: none;
  border-radius: 25px;
  margin-left: 25px;
}
button:hover{
  cursor: pointer;
}
.content-main{
  background-color: #E2E8F0;
  display: grid;
  margin-top: 20px;
  grid-column: 2/-1;
  grid-row: 2/-1;
  padding: 15px;
  padding-top: 25px;
  grid-template-columns: 4fr 1fr;
}
.missions{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto 1fr 1fr;
}
.mission{
  background-color: white;
  margin:15px;
  padding: 15px;
  border-radius: 15px;
}

.text-block{
  margin:9px;
}
.actions{
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;
}
.mission span {
  margin:9px
}
.mission span:hover{
  cursor: pointer;
}

.announcement{
  display:flex;
  flex-direction: column;
  background-color: white;
  padding:10px;
}
.announcement p {
  margin-top:0;
  margin-bottom:5px
}
.line{
  width:100%;
  height:2px;
  background-color: lightgray;
}
.announcements div:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.announcements div:last-child{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.trend{
  display: flex;
  align-items: center;
  margin-top:0;
  margin-bottom:0;
  background-color: white;
  padding:14px;
}
.trending div:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}
.trending div:last-child{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.trend p{
  margin-left: 15px;
  
}
